*{
	margin: 0px;
	padding: 0px;
}
body{
	font: 15px/1.5 Arial, Helvetica,sans-serif;
	background-color: #f4f4f4;
	text-align: center;
	border: 2px solid orange;
	width: 1200px;
	color: black;

}

.name li{

    display:inline;
    padding: 0 10px 0 10px;
    margin-bottom: 30px;
}
.container{
	width: 80%;
    height: auto;
	display: grid;
	grid-template-columns: 1fr 500px 700px 1fr;
	grid-template-areas: 
	". name name ."
	". me myPhoto ."
	". me myPhoto ."
	". image education ."
	". image education ."
	". image skill ."
}

.name{

	grid-area: name;

}
.name{
	border-bottom: 1px dashed orange;
	width: 80%;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	padding: 5px 5px; 
}
.name h1{
	color: orange;
	font: bold 35px Georgia, Helvetica,sans-serif;
	font-style: italic;
}

.me{

	grid-area: me;
	width: 80%;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	padding: 5px 5px; 
}
.me p{
	text-align: left;
	margin-bottom: 0.8em;
}

.myPhoto{

	grid-area: myPhoto;

}
.myPhoto img{

}
.image{

	grid-area: image;
	
}
.image img{
	width: 80%;
	border: 2px solid orange;
}
.education{

	grid-area: education;
	
}
.education li{
	 text-align: left;
}
.skill{
	grid-area: skill;	
}
.skill li{
	text-align: left;
}

.container div:nth-child(even){


}
.container div:nth-child(odd){


}

.contact-title{
	margin-top: 100px;
	color: orange;
	text-transform: uppercase;
	transition: all 4s ease-in-out;
}
.contact-title h1{
	font-size: 32px;
	line-height: 10px;
}
.contact-title h2{
	font-size: 16px;
	margin-top: 10px;
}

form{
	margin-top: 50px;
	transition: all 4s ease-in-out;
}
.form-content{
	width: 50%;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
	color: black;
	font-size: 14px;
	margin-bottom: 16px;

}
form .form-submit{
	background: orange;
	border-color: transparent;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 50%;
}
form .form-submit:hover{
	background-color: #f44336;
	cursor: pointer;
}