<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Lotto</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="lotto.css">
  <link rel="icon" href="favicon.ico">
</head>
<script src="lotto.js"></script>

<body onload="NewLottery()">
  <header class="header">
    <div onclick="window.location='../../index.html';" style="color:white;padding:15px;cursor:default;" class="div">Home</div>
    <div onclick="window.location='me.html';" style="color:white;padding:15px;cursor:default;" class="div">Me</div>
    <div onclick="window.location='report';" style="color:white;padding:15px;cursor:default;" class="div">Report</div>
    <div onclick="window.location='schools.html';" style="color:white;padding:15px;cursor:default;" class="div">Schools in Sweden</div>
    <div onclick="window.location='flag.html';" style="color:white;padding:15px;cursor:default;" class="div">Flags</div>
    <div onclick="window.location='lotto';" style="color:white;padding:15px;cursor:default;" class="div">Lotto</div>
    <div onclick="window.location='about.html';" style="color:white;padding:15px;cursor:default;" class="div">About</div>
  </header>

  <dir class="title" style="text-align:center !important;transform: translate(0, 70px); border-radius:20px;padding-bottom:62px;">
    <h1 style="color:white;font-size:40px; text-align:center; ">
      Lottery
    </h1>
    <div style="display:flex;justify-content:space-around; flex-grow:1;cursor:default">
      <div style="display:flex;flex-direction:column;flex-grow:0.1;">
        <div style="margin:12px"></div>
        <div class="text-container" style="margin:10px 3px">Drow 1</div>
        <div class="text-container" style="margin:10px 3px">Drow 2</div>
        <div class="text-container" style="margin:10px 3px">Drow 3</div>
        <div class="text-container" style="margin:10px 3px">Drow 4</div>
        <div class="text-container" style="margin:10px 3px">Drow 5</div>
        <div class="text-container" style="margin:10px 3px">Drow 6</div>
        <div class="text-container" style="margin:10px 3px">Drow 7</div>
      </div>

      <div id="lotteryValues" style="display:flex;flex-direction:column;flex-grow:0.01;cursor:default">
        <div style="color:white;font-size:20px">Lottery values</div>
        <div class="text-container" style="margin:10px 3px;color:white"><br></div>
        <div class="text-container" style="margin:10px 3px;color:white"><br></div>
        <div class="text-container" style="margin:10px 3px;color:white"><br></div>
        <div class="text-container" style="margin:10px 3px;color:white"><br></div>
        <div class="text-container" style="margin:10px 3px;color:white"><br></div>
        <div class="text-container" style="margin:10px 3px;color:white"><br></div>
        <div class="text-container" style="margin:10px 3px;color:white"><br></div>
        <div onclick="showButton()" class="text-container showButton" style="margin:10px 3px;">show values</div>
      </div>
      <div id="userList" style="display:flex;flex-direction:column;flex-grow:0.01;cursor:default">
        <div style="color:white;font-size:20px">Your picks</div>
        <input onkeyup="updateColor(this,1)" class="text-container input" type="number" placeholder="click here" value=<%= list[0] %>></input>
        <input onkeyup="updateColor(this,2)" class="text-container input" type="number" placeholder="click here" value=<%= list[1] %>></input>
        <input onkeyup="updateColor(this,3)" class="text-container input" type="number" placeholder="click here" value=<%= list[2] %>></input>
        <input onkeyup="updateColor(this,4)" class="text-container input" type="number" placeholder="click here" value=<%= list[3] %>></input>
        <input onkeyup="updateColor(this,5)" class="text-container input" type="number" placeholder="click here" value=<%= list[4] %>></input>
        <input onkeyup="updateColor(this,6)" class="text-container input" type="number" placeholder="click here" value=<%= list[5] %>></input>
        <input onkeyup="updateColor(this,7)" class="text-container input" type="number" placeholder="click here" value=<%= list[6] %>></input>
        <div id="counter" class="text-container" style="margin:10px 3px;">Score: 0</div>
      </div>

      <div </div>
  </dir>

  <script src="js/duck.js"></script>
  <div id="scoreHolder" class="text-container" style="display:flex;visibility:hidden;width:100px;position:fixed;right:10px;bottom:170px;margin:0;border-radius:50px">
    <div>Points:</div>
    <div id="points" style="padding-left:5px">0</div>
  </div>

  <div class="tooltip" id="startLogo">
    <span class="tooltiptext" style="right:8px;bottom:170px;">Press to start</span>
    <img src="img/duck-logo.jpg" class="image-duck" onclick="startGame()" alt="Duck-logo">
  </div>

  <div class="tooltip" id="exit" style="visibility:hidden; background-color:red;">
    <span class="tooltiptext" style="height:3 0px;width:170px;display:fixed;right:91px;bottom:115px;"> Press to Exit the game</span>
    <img src="img/stop.png" onclick="reset()" alt="hi" class="image-duck">
  </div>

  <img src="img/duck.png" id="duck" style="position:fixed;top:30px;height:100px;width:100px;visibility:hidden" alt="hi">

  <footer class="footer">
    <div>
      <a class="footer-icon" href="https://www.facebook.com/"><img><img src="img/facebook.png" style="width:50px;" alt="facebook link"></a>
      <a class="footer-icon" href="https://www.instagram.com"><img><img src="img/insta.png" style="width:50px;" alt="Instagram link"></a>
      <a class="footer-icon" href="https://www.google.se"> <img><img src="img/google.png" style="width:50px;" alt="Google link"></a>
      <a class="footer-icon" href="https://www.twitter.com"> <img><img src="img/twitter.png" style="width:50px;" alt="Twitter link"></a>

    </div>
  </footer>

</body>

</html>