* {
  margin: 0px;
  padding: 0px;
}
body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  /*border: 2px solid orange;*/
  /*width: 1200px;*/
  color: black;
}
/* Utilities / Global */
.wrapper {
  width: 80%;
  margin: auto;
  overflow: hidden;
  margin-bottom: 80px;
}
.wrapper h1 {
  margin-top: 25px;
}
.assign-title {
  color: #5d7b8d;
  font-size: 22px;
}

ul {
  margin: 2px;
  padding: 2px;
}
article#answer {
  float: centre;
  width: 65%;
}
.distortion {
  height: 150px;
  width: 200px;
}
.land {
  display: flex;
  justify-content: space-around;
  height: 25vh;
}
.containerHm {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.slider-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.slider-container > div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.webdev {
  position: relative;
  overflow: hidden;
}
.webdev img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.slider-container > div > div {
  overflow: hidden;
  box-shadow: 0 0 61px 0 rgba(0, 0, 0, 0.62);
}

.slider {
  width: 800px;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(5, 100%);
}
.content {
  position: absolute;
  width: 800px;
  height: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.content:before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 17%;
  width: 100%;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}
.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 1rem 1.2rem;
  border-radius: 5px;
  background-color: #ddd;
  outline: none;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  transition: 3s;
}
#prev {
  left: 5%;
}
#next {
  right: 5%;
}
.btn:hover {
  opacity: 1.8;
}
.content ul {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  display: flex;
}
.content ul li {
  width: 18px;
  height: 18px;
  margin: 3rem;
  border: 2.5px solid #12b0bb;
  border-radius: 50%;
  cursor: pointer;
}
.content ul li.colored {
  background-color: #12b0bb;
}
/*.slider {
  width: 200%;
  height: 450%;
  display: flex;
  grid-template-columns: repeat(5, 100%);

  transform: translateX(-550px);
}
.slider-container > div > div {
  overflow: hidden;
  box-shadow: 0 0 61px 0 rgba(0, 0, 0, 0.62);
}
.slider webdev {
  position: absolute;
}
*/
#infoFlag {
  width: 100%;
  height: 100%;
  margin-top: 5%;
  margin-bottom: 2%;
}
.home-click {
  height: 40px;
  width: 200px;
  background: #8099a8;
  margin-bottom: 0%;
  margin-top: 2%;
  border: 0;
  border-radius: 12%;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

.list-click {
  height: 40px;
  width: 200px;
  background: #8099a8;
  margin-bottom: 15%;
  margin-top: 2%;
  border: 0;
  border-radius: 12%;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

.home-click a {
  color: white;
  text-shadow: #8099a8;
  font-size: 15px;
}
#back-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  background-color: #0f0f0f;
  color: #4b8843;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}
#back-to-top-btn:hover {
  background-color: #f44336;
  color: #f1f1f1;
}

.dark {
  padding: 15px;
  background: #5d7b8d;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

header {
  background: #8099a8;
  color: #ffffff;
  padding-top: 40px;
  min-height: 30px;
  /*border-bottom: #e8491d 1px solid;*/
}

header a {
  color: #f1f1f1;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px;
}

header li {
  float: left;

  padding: 0 10px 0 10px;
}

header #companyName {
  float: left;
  margin-top: 45px;
}

header #companyName h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight,
header .navHeader a {
  color: #854736;
  font-weight: bold;
}

header a:hover {
  color: #cccccc;
  font-weight: bold;
}

/* Main-col */

article#home_column p {
  font-size: 20px;
  color: #0f0f0f;
}
article#home_column {
  /*width: 75%;
  align-content: center;*/
  position: relative;
  margin: 0 auto;
  padding: 5px 0;
  text-align: center;
  font-size: 30px;
  color: #588d51;
}
article#info_column {
  float: left;
  width: 45%;
}
aside#do_sidebar {
  float: right;
  width: 70%;
  margin-top: 10px;
}

.name li {
  display: inline;
  padding: 0 10px 0 10px;
}
.container {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(210px, 1fr)
  ); /*1fr 500px 700px 1fr;*/
  grid-auto-flow: dense;
  grid-template-areas:
    ". name name ."
    ". me myPhoto ."
    ". me myPhoto ."
    ". image education ."
    ". image education ."
    ". image skill .";
}

.name {
  grid-area: name;
}
.name {
  border-bottom: 1px dashed orange;
  width: 80%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 5px 5px;
}
.name h1 {
  color: orange;
  font: bold 35px Georgia, Helvetica, sans-serif;
  font-style: italic;
}

.courseName h1 {
  color: rgb(51, 48, 43);
  font: bold 35px Georgia, Helvetica, sans-serif;
  font-style: italic;
  margin-top: 5%;
  margin-bottom: 2%;
}

#homeContent {
  margin-bottom: 2%;
}
#homeContent1 {
  margin-bottom: 5%;
}

#homeContent2 {
  margin-bottom: 21%;
}
#homeContent h2 {
  color: rgb(51, 48, 43);
  font: bold 35px Georgia, Helvetica, sans-serif;
  font-style: italic;
  margin-top: 2%;
  margin-bottom: 2%;
}
th,
td,
p,
input {
  font: 14px Verdana;
}
table,
th,
td {
  border: solid 1px #ddd;
  border-collapse: collapse;
  padding: 2px 3px;
  text-align: center;
}
th {
  font-weight: bold;
}

.me {
  grid-area: me;
  width: 80%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 5px 5px;
}
.me p {
  text-align: left;
  margin-bottom: 0.8em;
}
.hkrImage {
  grid-area: hkrImage;
}
.wrapper img {
  width: 65%;
  margin-bottom: 5%;
  margin-left: -35%;
  box-shadow: #f4f4f4;
  /*border: 2px solid orange;*/
}

.myPhoto {
  grid-area: myPhoto;
}
.myPhoto img {
}

.image {
  grid-area: image;
}
.image img {
  width: 80%;
  border: 2px solid orange;
}
.education {
  grid-area: education;
}
.education li {
  text-align: left;
}
.skill {
  grid-area: skill;
}
.skill li {
  text-align: left;
}

.container div:nth-child(even) {
}
.container div:nth-child(odd) {
}
footer {
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #4b8843;
  text-align: center;
}

.contact-title {
  margin-top: 100px;
  color: orange;
  text-transform: uppercase;
  transition: all 4s ease-in-out;
}
.contact-title h1 {
  font-size: 32px;
  line-height: 10px;
}
.contact-title h2 {
  font-size: 16px;
  margin-top: 10px;
}

form {
  margin-top: 50px;
  transition: all 4s ease-in-out;
}
.form-content {
  width: 50%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: black;
  font-size: 14px;
  margin-bottom: 16px;
}
form .form-submit {
  background: orange;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
}
form .form-submit:hover {
  background-color: #f44336;
  cursor: pointer;
}

#shape {
  width: 80px;
  height: 100px;
  background-image: url(../img/kristiansta-logo.png);
  background-size: 80px;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}
.wrapperFlag {
  position: relative;
  overflow: hidden;
  margin-top: 200px;
}
.flag {
  position: absolute;
  top: 50%;
  left: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.part {
  width: 75px;
  height: 175px;
  float: left;
}

.vertical-menu {
  width: 200px;
  margin-top: 150px;

  left: 50%;
  transform: translateX(50%);
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.activeC {
  background-color: #8099a8;
  color: offWhite;
}
.play-submit {
  margin-bottom: 10px;
}
.play-submit button {
  padding: 10px;
  background: #eee;
  border: solid 1px #ddd;
  font-size: 18px;
  color: #555;
  cursor: pointer;
  outline: none;
}
.play-submit button:hover {
  background: #8099a8;
  color: #fff;
}
